In [1]:
import pandas as pd

In [13]:
draw = pd.read_csv("ml_intern.csv")
draw

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
21,55,blue-collar,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
22,55,retired,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
23,41,technician,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
25,35,technician,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
26,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
28,54,technician,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
29,55,unknown,married,university.degree,unknown,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,technician,divorced,basic.4y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4964,yes
41159,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,1,9,4,success,-1.1,94.767,-50.8,1.035,4964,yes
41160,33,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4964,yes
41161,33,admin.,married,university.degree,no,yes,no,cellular,nov,tue,...,1,999,1,failure,-1.1,94.767,-50.8,1.035,4964,no
41162,60,blue-collar,married,basic.4y,no,yes,no,cellular,nov,tue,...,2,4,1,success,-1.1,94.767,-50.8,1.035,4964,no
41163,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,3,4,2,success,-1.1,94.767,-50.8,1.035,4964,yes
41164,54,admin.,married,professional.course,no,no,no,cellular,nov,tue,...,2,10,1,success,-1.1,94.767,-50.8,1.035,4964,yes
41165,38,housemaid,divorced,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4964,yes
41166,32,admin.,married,university.degree,no,no,no,telephone,nov,wed,...,1,999,1,failure,-1.1,94.767,-50.8,1.030,4964,yes
41167,32,admin.,married,university.degree,no,yes,no,cellular,nov,wed,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4964,no
41168,38,entrepreneur,married,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4964,no
41169,62,services,married,high.school,no,yes,no,cellular,nov,wed,...,5,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4964,no
41170,40,management,divorced,university.degree,no,yes,no,cellular,nov,wed,...,2,999,4,failure,-1.1,94.767,-50.8,1.030,4964,no
41171,33,student,married,professional.course,no,yes,no,telephone,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4964,yes
41172,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4964,yes
41173,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4964,yes
41174,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,1,6,success,-1.1,94.767,-50.8,1.031,4964,yes
41175,34,student,single,unknown,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4964,no
41176,38,housemaid,divorced,high.school,no,yes,yes,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4964,no
41177,57,retired,married,professional.course,no,yes,no,cellular,nov,thu,...,6,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4964,no
41178,62,retired,married,university.degree,no,no,no,cellular,nov,thu,...,2,6,3,success,-1.1,94.767,-50.8,1.031,4964,yes
41179,64,retired,divorced,professional.course,no,yes,no,cellular,nov,fri,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,no
41180,36,admin.,married,university.degree,no,no,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,no
41181,37,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,yes
41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4964,no
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4964,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4964,no

In [55]:
dt = draw[['y']]
dt.replace(['no','yes'],[0,1],inplace=True)

## these are the targets.

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
dx = draw.drop(['y'], axis=1)
dx.job.replace([ 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown'], [11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
dx.marital.replace(['divorced','married','single','unknown'],[3,2,1,0],inplace=True)
dx.education.replace(['basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown'],[3,4,5,2,1,6,7,0],inplace=True)
dx.default.replace(['no','yes','unknown'],[1,-1,0],inplace=True)
dx.housing.replace(['no','yes','unknown'],[1,-1,0],inplace=True)
dx.loan.replace(['no','yes','unknown'],[1,-1,0],inplace=True)
dx.contact.replace(['cellular','telephone'],[1,0],inplace=True)
dx.month.replace(['mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],[1,2,3,4,5,6,7,8,9,10],inplace=True)
dx.day_of_week.replace(['mon','tue','wed','thu','fri'],[1,2,3,4,5],inplace=True)
dx.poutcome.replace(['failure','nonexistent','success'],[-1,0,1],inplace=True)

dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
age               41188 non-null int64
job               41188 non-null int64
marital           41188 non-null int64
education         41188 non-null int64
default           41188 non-null int64
housing           41188 non-null int64
loan              41188 non-null int64
contact           41188 non-null int64
month             41188 non-null int64
day_of_week       41188 non-null int64
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null int64
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null int64
dtypes: float64(4), int64(16)
memory usage: 6.3 MB

In [20]:
import keras
import numpy as np

In [98]:
import sklearn
from sklearn.utils import shuffle

In [100]:
import sklearn
from sklearn.utils import shuffle
dx, dt = shuffle(dx, dt)

Xtrain = np.asarray(dx[:40188])
Xtest = np.asarray(dx[40188:])
Ytrain = np.asarray(dt[:40188])
Ytest = np.asarray(dt[40188:])

Xtrain = Xtrain.reshape(40188, 20,1)
Xtest = Xtest.reshape(1000, 20,1)

print("X train shape" + str(Xtrain.shape))
print("X test shape" + str(Xtest.shape))
print("Y train shape" + str(Ytrain.shape))
print("Y test shape" + str(Ytest.shape))

X train shape(40188, 20, 1)
X test shape(1000, 20, 1)
Y train shape(40188, 1)
Y test shape(1000, 1)

In [106]:
from keras import layers
from keras.layers import Input, Dense, Activation, ZeroPadding2D, BatchNormalization, Flatten, Conv2D
from keras.layers import AveragePooling2D, MaxPooling2D, Dropout, GlobalMaxPooling2D, GlobalAveragePooling2D
from keras.models import Model
from keras.preprocessing import image
from keras.utils import layer_utils
from keras.utils.data_utils import get_file
from keras.applications.imagenet_utils import preprocess_input
from keras.utils.vis_utils import model_to_dot
from keras.utils import plot_model

def FModel(input_shape):

    X_input = Input(input_shape)
    X = Dense(20, kernel_initializer='normal', activation='relu')(X_input)
    X = Dense(30, activation = 'relu', name = 'fc2')(X)
    X = Dense(20, activation = 'relu', name = 'fc3')(X)
    X = Dense(10, activation = 'relu', name = 'fc4')(X)
    X = Dense(7, activation = 'relu', name = 'fc5')(X)
    X = Dense(3, activation = 'relu', name = 'fc6')(X)
    X = Flatten()(X)
    X = Dense(1, activation = 'sigmoid', name = 'fc7')(X)
    model = Model(inputs = X_input, outputs = X, name = 'FModel')
    return model

"\ndef create_baseline():\n    # create model\n    model = Sequential()\n    model.add(Dense(10, input_dim=20, kernel_initializer='normal', activation='relu'))\n    model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))\n    # Compile model. We use the the logarithmic loss function, and the Adam gradient optimizer.\n    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])\n    return model\n"

In [107]:
DLModel = FModel((20,1))
DLModel.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ["accuracy"])

In [108]:
DLModel.fit(x = Xtrain,y = Ytrain, epochs = 20, batch_size = 64)

Epoch 1/20
40188/40188 [==============================] - 7s 167us/step - loss: 1.8164 - acc: 0.8873
Epoch 2/20
40188/40188 [==============================] - 5s 133us/step - loss: 1.8164 - acc: 0.8873
Epoch 3/20
40188/40188 [==============================] - 5s 135us/step - loss: 1.8164 - acc: 0.8873
Epoch 4/20
40188/40188 [==============================] - 5s 134us/step - loss: 1.8164 - acc: 0.8873
Epoch 5/20
40188/40188 [==============================] - 5s 132us/step - loss: 1.8164 - acc: 0.8873
Epoch 6/20
40188/40188 [==============================] - 5s 134us/step - loss: 1.8164 - acc: 0.8873
Epoch 7/20
40188/40188 [==============================] - 5s 135us/step - loss: 1.8164 - acc: 0.8873
Epoch 8/20
40188/40188 [==============================] - 5s 134us/step - loss: 1.8164 - acc: 0.8873
Epoch 9/20
40188/40188 [==============================] - 5s 130us/step - loss: 1.8164 - acc: 0.8873
Epoch 10/20
40188/40188 [==============================] - 5s 135us/step - loss: 1.8164 - acc: 0.8873
Epoch 11/20
40188/40188 [==============================] - 5s 132us/step - loss: 1.8164 - acc: 0.8873
Epoch 12/20
40188/40188 [==============================] - 5s 133us/step - loss: 1.8164 - acc: 0.8873
Epoch 13/20
40188/40188 [==============================] - 5s 130us/step - loss: 1.8164 - acc: 0.8873
Epoch 14/20
40188/40188 [==============================] - 5s 134us/step - loss: 1.8164 - acc: 0.8873
Epoch 15/20
40188/40188 [==============================] - 5s 132us/step - loss: 1.8164 - acc: 0.8873
Epoch 16/20
40188/40188 [==============================] - 5s 131us/step - loss: 1.8164 - acc: 0.8873
Epoch 17/20
40188/40188 [==============================] - 5s 131us/step - loss: 1.8164 - acc: 0.8873
Epoch 18/20
40188/40188 [==============================] - 5s 125us/step - loss: 1.8164 - acc: 0.8873
Epoch 19/20
40188/40188 [==============================] - 5s 124us/step - loss: 1.8164 - acc: 0.8873
Epoch 20/20
40188/40188 [==============================] - 5s 131us/step - loss: 1.8164 - acc: 0.8873

In [104]:
preds = DLModel.evaluate(Xtest,Ytest)
### END CODE HERE ###
print()
print ("Loss = " + str(preds[0]))
print ("Test Accuracy = " + str(preds[1]))

1000/1000 [==============================] - 0s 323us/step

Loss = 1.789108597479713
Test Accuracy = 0.889